@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {

}

.main {
  width: 100vw;
  margin: auto;
  // border: 1px solid black;

  @media (min-width: 750px) {
    width: 750px;
  }
}

#header {
  width: 99%;
  height: auto;
  // border: 1px solid black;
  border-radius: 5px;

  .logo-container {
    width: auto;
    height: auto;
    // border: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 350px) {
      justify-content: space-around;
    }

    .logo {
      margin-left: 1%;
      color: #333F65;
      font-size: 55px;
      // font-weight: bold;
      font-family: 'Montserrat';

      @media (min-width: 350px) {
        font-size: 60px;
      }
    }
  }
}

#page-banner {
  width: 98%;
  height: 15vh;
  margin: auto;
  background-image: url('assets/images/general/leaves.png');
  background-position: center;
  background-size: cover;
  // border: 1px solid blue;
  border-radius: 2.5px;
}

.page-title-container-centered {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  @media (min-width: 350px) {
    justify-content: flex-start;
  }

  @media (min-width: 415px) {
    justify-content: space-around;
  }

  .title-container {
    width: auto;
    height: auto;
    // border: 1px solid black;

    @media (min-width: 350px) {
      margin-left: 10%;
    }

    @media (min-width: 400px) {
      margin-left: 8%;
    }

    @media (min-width: 415px) {
      margin-left: 0px;
    }

    .title {
      font-size: 60px;
      font-family: 'Montserrat';
      color: gray;

      @media (min-width: 400px) {
        font-size: 70px;
      }

      @media (min-width: 600px) {
        display: none;
      }
    }

    .connected-title {
      font-size: 60px;
      font-family: 'Montserrat';
      color: gray;
      display: none;

      @media (min-width: 600px) {
        display: inherit;
      }

      i {
        font-size: 50px;
        color: #333F65;
        margin-left: 20px;
      }
    }
  }

  .icon-container {
    position: absolute;
    width: auto;
    height: auto;
    // border: 1px solid black;
    margin-top: -123px;
    margin-left: 170px;

    @media (min-width: 350px) {
      margin-top: -130px;
      margin-left: 190px;
    }

    @media (min-width: 400px) {
      margin-top: -145px;
      margin-left: 210px;
    }

    @media (min-width: 600px) {
      display: none;
    }

    i {
      font-size: 30px;
      color: #333F65;

      @media (min-width: 350px) {
        font-size: 40px;
      }

      @media (min-width: 400px) {
        font-size: 45px;
      }
    }
  }
}

#page-title-container {
  width: 98%;
  height: auto;
  margin: auto;
  // border :1px solid red;



  .page-title {
    margin-left: 2.5%;
    color: #333F65;
    font-size: 55px;
    // font-weight: bold;
    font-family: 'Montserrat';

    @media (min-width: 400px) {
      font-size: 60px;
      margin-left: 5%;
    }
  }

  .zia-container {
    position: absolute;
    width: 100px;
    height: 100px;
    // border: 1px solid black;
    margin-top: -200px;
    margin-left: 200px;

    @media (min-width: 350px) {
      width: 150px;
      height: 150px;
      margin-top: -225px;
    }

    @media (min-width: 400px) {
      margin-top: -235px;
      margin-left: 230px;
    }

    @media (min-width: 415px) {
      right: 5%;
    }

    @media (min-width: 500px) {
      width: 200px;
      height: 200px;
      margin-top: -250px;
    }

    @media (min-width: 600px) {
      width: 250px;
      height: 250px;
      margin-top: -280px;
    }

    @media (min-width: 750px) {
      right: auto;
      margin-left: 450px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

#page-intro-container {
  width: 98%;
  height: auto;
  margin: auto;
  // border: 1px solid black;

  @media(min-width: 750px) {

  }

  .page-intro-text {
    padding: 5%;
    font-family: 'Roboto';
    font-size: 20px;
    color: gray;
    text-indent: 25px;
    line-height: 28px;

    @media (min-width: 600px) {
      margin-bottom: -20px;
      margin-top: -20px;
    }
  }
}

#estimate-bar {
  width: 98%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-image: url('assets/images/general/fire-pit.png');
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 2.5px;
  // border: 1px solid black;

  .estimate-title-container {
    width: 100%;
    height: auto;
    // border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;

    p {
      color: #333F65;
      border-radius: 2.5px;
      background-color: rgba(200, 200, 200, .5);
      font-size: 40px;
      font-family: 'Montserrat';

      @media (min-width: 350px) {
        font-size: 45px;
      }

      @media (min-width: 400px) {
        font-size: 50px;
      }

      @media (min-width: 600px) {
        font-size: 70px;
      }

    }
  }

  .contact-button-container {
    width: 100%;
    height: auto;
    // border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-around;

    // .contact-botton:hover {
    //   cursor: grab;
    // }

    .contact-button {
      height: 60px;
      width: 200px;
      background: #f7cf00;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 2.5px;

      @media (min-width: 350px) {
        height: 70px;
        width: 220px;
      }

      p {
        color: white;
        font-size: 30px;
        font-family: 'Roboto';

        @media (min-width: 350px) {
          font-size: 35px;
        }
      }
    }
  }
}
